

.Guest-section {
    margin-top: 40px;
    justify-content: center;
}

.Guest-title {
    margin-top: 50px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color: #fff;
    font-size: 40px;
}

/* Tablet Media Query */
@media (min-width: 481px) and (max-width: 768px) {
   
}

/* Desktop Media Query */
@media (min-width: 769px) and (max-width: 2000px) {
    .Guest-section {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .Guest-column-2 {
        flex: 3;   
    }
}





