.Rep-photo {
    height: 225px;
    width: 178px;
    display: block;
    margin: 0 auto; 
}

.Congress1, .Congress2 {
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    color: #fff;
}

.Rep-phone, .Rep-url {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold; 
}

.Rep-name {
    margin-bottom: 0;
}

.Rep-title {
    font-size: 18px;
    margin-top: 3px;
}

.Rep-party {
    margin-top: 15px;
    margin-bottom: 10px;
}

.Rep-address {
    font-size: 16px;
    list-style: none; 
    font-style: normal;
    line-height: 23px;
    text-align: left;
    display: inline-block;
    width: 165px;
}

.Website-link-style:hover, .Rep-email-desktop:hover {
    color: #f25f5c;
}








