.Address_searchbox {
    height: 40px;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #f6f4f3;
    color: #f25f5c;
    border-radius: 10px;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    color: #f25f5c;
    opacity: 1;
}

.Address_searchbox:focus {
    outline: none !important;
    border:1px solid #f25f5c;
    box-shadow: 0 0 10px #f25f5c;
    border-radius: 10px;
}

.Address_search_submit {
    height: 50px;
    width: 325px;
    border-radius: 10px;
    background-color: #f25f5c;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    color: #f6f4f3;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.Address_search_submit:hover {
    background-color: #2f4858;
    color: #f6f4f3;
}



