.page-title {
    font-family: 'Bungee Shade', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}

/* Mobile Media Query */
@media (max-width: 481px) {
    .Register-form, .login-form {
        width: auto;
        border-radius: 0;
    }

}    