.Button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: #f25f5c;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.Input {
    height: 40px;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #f6f4f3;
    color: #f25f5c;
    border-radius: 10px;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    color: #f25f5c;
}

input:focus {
    outline: none !important;
    border:1px solid #f25f5c;
    box-shadow: 0 0 10px #f25f5c;
    border-radius: 10px;
}

