footer {
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.vote-button {
    height: 75px;
    width: 150px;
    font-weight: bold;
    background-color: #f25f5c;
    font-family: 'Bungee Shade', cursive;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}

.vote-button:hover {
    background-color: #f25f5c;
    color: #2f4858;
}

.vote-button:focus {
    outline: none !important;
    border:1px solid #f25f5c;
    box-shadow: 0 0 10px #f25f5c;
    border-radius: 10px;
}

.disclaimer {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

/* Tablet Media Query */
@media (min-width: 481px) and (max-width: 768px) {
    footer {
        display: flex
    }
    .column {
        flex: 2;
    }
}

/* Desktop Media Query */
@media (min-width: 769px) and (max-width: 2000px) {
    footer {
        display: flex
    }
    .column {
        flex: 2;
    }
}
    