.Register-form {
    font-family: 'Roboto', sans-serif; 
    background-color: rgba(255,255,255,.8);
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding: 45px 0 50px 0;
    border-radius: 6px;
}

.Username, .Password, .street_address,
.city, .state_code {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    color: #2f4858;
}

.submitButton {
    margin-top: 30px;
    background-color: #f25f5c;
    color: #fff;
}

.submitButton:hover {
    background-color: #2f4858;
    color: #fff;
}

.RegisterForm_user_name, .RegisterForm_password,
.RegisterForm_street_address, .RegisterForm_city,
.RegisterForm_state_code {
    background-color: #247ba0;
    color: #fff;
}
