.Welcome-question {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Welcome-question:before,
.Welcome-question:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 600px;
    flex: 1 0 20px;
}

.Welcome-question:after {
    margin: 0 600px 0 20px;
}

.Welcome-text {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 70px;
    text-align: center;
    width: 100%;
    margin-bottom: -30px;
    color: #fff;
}

.Welcome-question {
    font-family: 'Roboto', sans-serif;
    margin-top: 65px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.App-info-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 19px;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

html {
    background-image: url(../../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
}

.LandingPage_info {
    margin-top: 40px;
}

.Demo-title {
    text-align: center;
    color: #fff;
    margin-bottom: -8px;
    margin-top: 40px;
}

.Demo-text {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* Tablet Media Query */
@media (min-width: 481px) and (max-width: 768px) {
    .App-info-text {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 30px;
    }
}

/* Desktop Media Query */
@media (min-width: 769px) and (max-width: 4000px) {
    .App-info-text {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #fff;
        font-size: 22px;
        line-height: 30px;
    }
}





